# Dependencies
node_modules/
jspm_packages/
web_modules/

# Production Build
dist/
build/

# Local Database & Cache
backend/db_fallback.json
.eslintcache
.parcel-cache

# Environment / Secret Configurations
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db
